   <!--
      
      at the boathouse https://photos.app.goo.gl/uGb7QcyHAAS4iiug9
      wooden boats https://photos.app.goo.gl/ipqKV4vrwJdBEKM46
      fishing https://photos.app.goo.gl/sorQTnysF7Yqzmvs6
      harvesting oysters https://photos.app.goo.gl/xZ7byxcyyDAWwgnE6
      foraging the beach https://photos.app.goo.gl/RANL4MCgetCm5c1J9
      foraging the woods https://photos.app.goo.gl/Ut8sNVASARL3uJST7
      resö gård https://photos.app.goo.gl/EAwqx9rFqucfG8GRA
  
    -->

    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            padding-left: max(min(20px, 100% - 360px), 0px);
            padding-right: max(min(20px, 100% - 360px), 0px);
            margin: 0px;
            margin-bottom: 50px;
            margin-top: 0px;
            background-color: #F2E8D1;
        }
        .gallery img {
            height: 200px;
            object-fit: cover;
            max-width: 100%;
            min-width: 100%;
        }
        .gallery-item {
            flex-grow: 1;
            padding: 2px;
            height: 200px;
        }
        .gallery-title {
            font-family: "palatino";
            text-align: top;
            color: rgb(92, 24, 24);
            font-size: 30px;
            height: auto;
            background-color: #F2E8D1;
            padding: 0px;
            padding-top: 16px;
            padding-left: 16px;
            margin: 0px;
            margin-top: 25px;
        }

        .sub-heading {
          font-family: "Trebuchet MS";
          font-size: 18px;
          padding: 0px;
          padding-top: 16px;
          padding-left: 16px;
          padding-right: 16px;
        }

        #fullpage {
            display: none;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-color:#F2E8D1;
        }
    </style>
    
    <script>
        addEventListener("load", (event) => {
         var multi_gallery = document.getElementsByClassName("multi-gallery")[ 0 ];
         var gallery_sources = document.getElementsByClassName("pa-gallery-player-widget");
         for ( let i = 0; i < gallery_sources.length; i++ ) { 
           let gallery_source = gallery_sources[ i ];
           let gallery_title = document.createElement("div");
           gallery_title.classList.add("gallery-title");
           let p = document.createElement("div");
           gallery_title.appendChild( p );
           let text = document.createTextNode(gallery_source.getAttribute("data-title"));
           p.appendChild( text );
           let p2 = document.createElement("div");
           gallery_title.appendChild( p2 );
           let subText = document.createTextNode(gallery_source.getAttribute("data-description"));
           p2.appendChild( subText );
           p2.classList.add("sub-heading");
           let gallery = document.createElement("div");
           gallery.classList.add("gallery");
           multi_gallery.appendChild( gallery_title );
           multi_gallery.appendChild( gallery );
           for ( let j=0; j<gallery_source.children.length; j++ ) {
             let gallery_source_item = gallery_source.children[ j ];
             console.log(  );
             let gallery_item = document.createElement("div");
             gallery_item.classList.add( "gallery-item" );
             let img = document.createElement( "img" );
             img.classList.add("gallery-image");
             img.setAttribute("src", gallery_source_item.getAttribute( "data" ) );
             img.addEventListener('click', function() {
                let fullPage = document.querySelector('#fullpage');
                fullPage.style.backgroundImage = 'url(' + img.src + ')';
                fullPage.style.display = 'block';
            });
             gallery_item.appendChild( img );
             gallery.appendChild( gallery_item );
           }
         }
        });

        addEventListener("resize", (event) => {
            var images = document.getElementsByClassName("gallery-image");
            console.log(images.length);
        });
     </script>

     <div hidden>
       <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/uGb7QcyHAAS4iiug9"
         data-title="At the Boathouse..."
         data-description="">
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc8uIXmmzyr7rN2D8XfGX110FQ2ErDtoNYOf8QWuQD7icBCMuMZERmzHLeC9DPaQ5tkiOd89v3MoArNTcXUN7047XjAKES796wZjVWGgTgo-0DpocUo=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_EiMpGZbvs4k8LzzpvPO04w0AehYznRRUHh5DvvxVHNj60760HTGVBdNtPAGRYIARfsxVVhiY9weAMo-fynN6P5lruobGhFoIrrTASn6SpgZgI57s=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_fY2mRw9UxNzkhcwZN1dEPIF9xb-5fxNPYHGTws1DhU0Yd1rVl5IJtqgVYWhCaeOAiRN_52o7stDGQbd6dtGD5O58Oo_aUKMtjT51tpnPl3ZapOn4=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8cjIQHjMH11CSp_cVnmv7a-jUldgyuTDjJyYl_sfue0w7hXWgfhIMniZnrAYTMv025QP0KI55QHxDVPjQVMQkW3SRMWb_cHQyfPrx4ZTLHsTTBNFI=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9yFP0uQhABAWH3MeDvvQxiAsCGuUOmBgJDCX5hHevhSA_j_BlyGGIt1AwLX2e78UXteC2p7bLcBhpQuqiqPA8sjxZ84qSTeCstzA-_BQ8t6Ci18NY=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_2iobrtVZU_CJD0gzBPIlU2o8VpXm-kaUSqV2cYh0AnxBzdO8ZBtNjYn8-UeFaqpb0hUElfSr0QQT4fXC0WpJYpgNAQ5pl9xYuN3gAGQzvR120OMo=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-p4fxrRdE-LUA4Tt8aiuSpcXRb78NdQLge_KjZnlTnQ22XVDr5iOEo5yGOq8g0PdTC47Wo1sD64kbiK0njJqS3XhAlNo3dpZCHMN9yYESLjJOPRKk=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_wQKLSDo9qXCbIaqG7HkXEbG1B68wmSEMSfLBvGks4yR4QKuzI_cj2Xab7cG9-H7dvPUrmwoP4fVq1UB8iIN-xkgCB0rnTb4Zqs-VV01ywBT7Ycfs=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9Ii-82lygMgi3pZZB6T5cWbO-gryEK5Gfj1dcD82tfQhXn-KJ_dC_0ztDqE6aLT6QKthmByO4EAV7EaemHps0BdKKXRQeecxx7OfTjAe328T8-QkE=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9I1oX7bsOUktrYKH1G44Su586Vi7Dx1mwaLoLPfxTgVdojmUkxFBjk5Kf2chhayRlaUM5y36TmNQTG4Szq2DKHe9x9LhR_7PPla9QiOREBcKkCLZk=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_sRkQwONNvW609doD4b-FHsOujzPrMHti5i0iK3ki16AEWwKw2FGro8Rq8hw8xTSahRSN8MD17GTiAqO3d5zbNXPvYPIgfhSMHxjcDhqzZgCzI_Ro=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_xRAKxO6ctho75tQAZszWcZsFWYKyTwa1D4cbB4rEyX3zt0lgfhfyw3oL8BWA3HjvTeVGvTSjidD9sjPrYPDvQQGj8x4hnDBzbndghVfNLI3XOoDI=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9MyQQng-ZCQKwMMqMxkUAYFkoCJpm-UVRw8NuFUEB3sEt1SgvjS5lHXOoZUWkXpkvC7wmxSjY23oSnPxQS55IyhXMmVyM6ydlWtDdLpJpY5_qVE7I=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9v15VOLpE5Ww9LQ05XrRdgMs_nBYtW09Utz5eBeyj0YJ3sUq09uwYIHjrAPV3bMCuRgk5J7zjEoX3FwZlpg1qAri5MJAisfbCMR6NqTfy6uIzkcPI=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-0FJQStxaZWZ6Vc-TwIub1GoCUvie-coxHrYPVz5j7S01LGa_AmxHGLU3-aZP73PgbCs_jJxK678CrxwaF1UJa-l9aB-OnF0loNBnnMo3D9APxg9I=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9gdPUJpJ7Gq7bjUyEg5Z0lpI1FZ5UfxxcxVg5V9y5IOhyAyY4slmT0jpb94y-VicvTUCL0-WqXIxP7QdOktjNkQvMiI7zrproDe3jJH56Bl5ZflSk=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8h1kJrBFknNEMxCwGlbGyVNH_O71khwXrpD8Qf6-hnPQhPwtgPL5DoNnN28jJjtrgnJMh7hAOXXmrLuI1qU_4sk17f3--ijtKrj3uvDlcOpD_MZpY=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8wnuWCbSy9sbAT2m8FM5KchPNM7YfjxJdhJ1ZrtLjTepaoAbfLX-UWi0pYoEuYXt_0Qr3s7czW6f-RnmT1CLo0iG0Flmhi6rtvgjHV0SIRix7zQa0=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9RP7JhRpyrB5iVeSiN8Pq9xMqb35QJmu_Vo2NreeDcoKD8sPEm66-ZkkfGlTtZz7ze00_LjFKx94wuMjyTFmpsg4pTB_jIYtsds3uQDsIUSJwBjso=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-8rHdR_xZAbEWuc6sRbW5hSOLDNMxmyZjd1vRJkO-iq5JIb8jAVjGTb-NeEzzSt2ugFfVzKDFpFRIgyuUhcOrkjx4rJwbWKMTkpWS_27uKIBimDSQ=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc962VJW6LYzgNY7wqqp8K0baALY5d5kszcjLX0XvX3fc0U3E8xJacKYVFPw9ZfPT67PXDbAKOgGCW4iAlvJvhj-iyLLM90QyLnHm9gAx0c83CQrCB4=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_2jruOwo_38CkW1QPHnc0u1AdR5VUrJSs1VUm8BcQaRZPj5m-2pODD8alvjhvGvJdUbH8s5ZcY22i17HPA3xlIk2BEbMAnRbaOFOqqBalVcj24S_c=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8EhdPLGSa4bJjtsJlvUtR9RtePrCC765By2FRzuPOKAynJ4bIuduAUcR6g7WWw1una8hts7TgLL9ck27NrFRBK3dM8LF78xIlTt2xbIVrG1hpFl18=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_y_kfcGkbLGDdJbJ_LTueVbGAaLsV9m8SdiRIYvQtX_BcZvVa083plhsfdhyyyYSvFo9Drq1Amkn2KoEqPZS4rK9VAnyG8m1dIiNeC7i036PRgI-o=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc99j_tedZfA9IbKJ-rUzhdhCuclvBocsnWQug1kqjdlETmEf1-ZdFPiU8Yd3MMsmpZJ1SKf5Sv6bmbKIpbvPZIjnDB1zWQNM9vOz7N7AF1on2biIVk=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8SXxWVw2no-qtSrykCde70IR1fmubIrmoUManUrN1UjeLBDRASnhl7Zpf059nAmNtOtaIjfIK5ARyNZpiJfmrbB_yeNbK5fK0G2db7vRlX1C3uEis=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-XF19BsIFygy1y9nsKm9e-cHxvRg5cHM6XWLrM5zdIgCzB_S5_2i5iJ17ebxlwDGxda6kPq4eVlPm6ooHS_7fA-IdPsADTttcnv15MYX6qLb1q-dQ=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-8xnoUC2qh2S-bFYLPzVxuMEDDWs6-R_z0Ldl0NXO5jIx1Tme7-fdCiztVHrejmnJKPULHN4gizhCHbCPp5Fgc1SwO1QSVftGrdawntkMhy0tcF0E=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-YgSh8tNiR2Arkpt24v-5qmIQxcxdySZQzoJOXweZLdErfYVStvUYUTambX2wZInCIzm4mOdFaMnTyR5SlX1QPtqYy8ls9Xn553uBUpRCPga-0erU=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-iV360x6qm95uXYoouMGWK9cTKu1QNXIIvdHmBXXPcr-9B_jS1CJfOpmmV8N0hDBYGN1tBPBn0c4bE0Utpbm4a5tbyHQznmimzFhTZQuKvH66ePKI=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9lWZyMsuG0ehlItZGfXnCpoJWhHz0H251L8V-iCQSgt6ObXEfi2vgueE8b5CS47QeJRDvVpJl00DbVTtHT3523B4YEpaSZQg9qbkOz22MYwIvGgPE=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc80-hS-0pM9naFrJnl9ltl8HdFQgxawbaUcGNEGLk_sFwhJ3FyDIF846zwRu2GV5-WrenQ1g144YMbs642GuSab0IQIs90NXe0RQuhYOJcO_sRu_Ts=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-SkSFRgAWqL9jmiU5u7hjvvUbbPctTGGc13MSiWO1JAF9CymdjvYe6Dm1HKrE8loCdwKdCc1bKrejk6K9ugqda6oMCDbGwsIFjip1nUJ3gtiOKyuM=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9gcibOdh8SpH8ciX3anZP7l5BYWAkXFaKG3rZqbFqQIlf-EzwmepUYyIBrkgrHaXsdGjSj6XJtRx0VFzSDE7yP0xh3hlYuYgHPmJqMbAo_dsQGlXI=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9mA1TBq71W1bXJ5jyk2XAiKnoKpW269lU0iiAzizEkFWOJrCCw1au-Gftqz6jA3N3yyT2JHGinJRh6ugxVWo-cIeVZ-dIkAZfd1PIpO2ucKQBj6hM=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_mutqvjxFzhQEHipsonphBC_nXBuW7EvGCmkGS82IM0NqFZdDfTBNNPVlpWlMEydkTuAXe-6DYyhAnrmhCYJW_pGTtLpoWx3Kw-yDx36UOXGug-98=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_CBkGeuypFw7486ucBq0vxThhex__calg0Yvz-5jefC-xvmqyW9OMBl7eQZl-rYE_GYAREvZQJyrvePGzaj3uDyj6wdET8icjenUd9ysytIovkhjw=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8Lvoa6xOWm-h6eIq62s2v_fQCohGuoAsMCXJogyx-uvoaglwKtBGNnJH4tIsioqjVbqTwEKLz_Odn57y5aRikLOwr63DCRtFUwqLAQmgwL3nMxnSw=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-xEuJQsIjDcfK37sXbFseHsE8tozb2CRfwPdzGakh7gwoZR4D7XkHdTQl7RPz3_jtXF5ApynMcOa5xzsCw1gvsxx3ODFKuaoUfri8jf8OPE_2_fx8=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_SAqOI545DXusIoEosd6l2YIXpLYByuu6IGhLiauHItm4mTGn3b5rnwiTG859NdFMaRht5Le7tF416rgZ5wTw4HIRPpCR6WhfRqHpTSnrWZK98btY=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9fYamWmN4UV5SRzX1-3V9OI3cNM7HfTqUK9HwVWY0iKA3v_nOMLc3YBG2UjPHUnE7feBDf-3g3bbaX33oU93vVpvjBcmnC92EukWcdj7_B8BQECmA=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-IcEfRsEQYf6oCmwennDfdf-fQtsl9ukM5rPmvzs_mBnFtUmhbOiUFHqoC66uLYlUa4r8GxxdeNzTswBf7JEn4gdrhouQYirzmlAMtpjj_p3W-cco=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_uX1cC2vr8ACm4rZQ0eH051Z_d5tLfE1MXhe0DOdKdArqRlDXNuBL-bK1hYoE233u-SATaeXMcS81XdSNdh2pLJtWfslFnO23MehJDHAfmQA3xuug=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc83nRE9EBSNCV_fsZI1q2JiCKcOOstNj6coFFtDLhCuJJdblaGNeM_6h8BrHdZjDh2brzAs5yjkiAUGew5fAuiB2-TN524aSy7FlUYtwApxUffMt0I=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-zXlqwro6e-SlLrOeAMt57dLIBDTou0UfVYpsqwa8_yFSPcC7IqnQGpwhia46-EvyFdqRo6fPtir0t7eAe8c63ekV2_c7LS5l94z7D7ybsh4zt4QM=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc9s2m5zOTnLEA1nmxVv0COa4C7zcRgAtwVbMOntVBA7shEQiP68ik9n_vJnE5wnSLdljvuVEyLvpqqIwS1JLNLR1FKBmD2eGqcUQIWwM_5oBJGhfRY=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-_5I29Xw81-0mJ00XMfQMv4M9kHTmGmolj2xZAIo5b5XwMjZgSLbT0KOIwiwBILhgKxI8EP4dutjtnLDb4yapBVSk2tfjEcLsT4SOVk8HdF4VZUOM=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc-s0nfpVsMgex_cY4PkTmJ9CL71rWdd65XZTRKc0bM_uPAZisxeFo1irC0kJnKg6gPguZrkVIyW7kWJ6inHbJnQwG8yJ2YMpe_yR8KawA4i0z1ZJDE=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8qp1FUBcOer7QcK9UK-yoFeip53nCA1TGj99OsTiOhw3N_2ot6oUpTU4ZNfFKnZuc9rXzQL3kMeM3ksj01_kID46CnX3X3dxwWsv15Gx1t7c44QYg=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc8UrwALUEdLJMPr-9OOKKL_HmB0TFQ-PggzCEwv_-nMxEqPpdE-YBeWaW4W-dfR0zCHN6uIKjPMfjJBSSaHMAjLsx1cgbdH7s7rMmqwp2syHMvtUOQ=w1920-h1080"></div>
  <div data="https://lh3.googleusercontent.com/pw/AIL4fc_D1b9o3ibfPemL6Vk5VH0oHNEIQao1mSfF9x-9cvAg8mHh5aQbnAZJfTA4e5rNvz09JFimW89FRPTtsL9q_GhWAvlM0i5OHtQRrK62YEqJjhucqqQ=w1920-h1080"></div>

         <!--<div data="https://lh3.googleusercontent.com/pw/AMWts8ANaO89Icsgi5vj1WyuX7PQgwmo8L_PWUsyfh-qeA0zsPaBI0sZhGZOP5cz2uUOMO-NxT2e3TMhOQpNmaIVyi88y850uAoLRmvlAo0nq0E5THHFFbo=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8D29OEz8ahZPKUo9N_lt4lhZ_Byx8AomflWffE7z7EQpQKq4yS3D6JMHWEEbdJuiZR-7kdDTO8eFDS3Dd5n6VdRqDIGGh_mbHFo5Yh35Bmm4IiN8-g=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8DM5jc48WiIrJ5dJuJTGHxr5mgwRBaM9vJ2XhKR-1WEXUTkGohHnIYrUeQikmuagV7dSJRSQkIeICdI_BfJVQwPKdB9qyOTVahYen9S2rsaJJQSESg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8AX4cy_S1E_fFYapUGhgo-5E7h6eE2r-bFlJlQwKd1lS96msjUwrRymjuXysP736EtSNKTuJ7sHH83LX72nstHx10duom9PZ6Aj1Q5enn3qXb02Dvs=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8CShh7dcuRY1kCrruNXDJIsgaqectkHLSYRwsDIFVDghtIBSHseZ5UMt0ObsH-FQ4JfIdpTklKHcNLS5xbTTLHfyYyQZYzTRMVsEzO6zGdrIqk_We0=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8A-nizY-M16kRvF8SIjO66SQQRozKWuzLzwtSKUmtgE9tXP21pIyWjwTDL_Nz5_HBa9MajkxiR5ObfBXGKnNDFiRtY9XN2Dr-mvmtCvxU55SOTCEXA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8CT788UlG1Ok1MkJ6AJ9SkImetoMSGg0bhlAvRoGv4231qNQ5pSRbHdz7JgfTzvSGZ6eEQewjrCQCbpHoxLOrvhqOzRFkvMGSWTaliF9ZHZzplvT7w=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8CfE9-iYMNzFQuR96322Zs09mMcJNsn6SZV5FmDs3r6rHgYskGegp8ToTFJBDrSx5_yPJAQvesGNQbzxWOt0XGUgZXPPF9dt621Pp8nUWxgRjDnCDg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8DS_WPBdGNj7iedAe3MFZ4cDetchLMbaKu19oRQeVZf9QV-6VFDVHIlRcO8gHGVENiFbw6ATXknITBrtASLboaSPDx_b1BopznkihvQHkmvZOb6YlE=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8Bz2B2r1qUcc_zeKjr4ukBkLrLS0SkUPbbUBzTAFonHi8DdIF9W9oXDtCfmir9Hm29JjCdJEc6ZL55ss7RlHNwKjAPYEPG_lr0FfWoVyiwSfhTscXE=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8AGYhKqpqckJcXv9us4TNAzsiwHUKrV56clt-74NQvTHndgt-5bcgbo3abA1zumuNvbZZHcQ2PGCtOop-XpWr_fUTYa1whW9uksXZbE04GPbUyZjpw=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8DrUsG_GwnhmPR0Wi8dv9SqW5h05w1qY6Pd6lvPntERYmghC7H5yJL3ZVwSGIWlo-VylBwJ0jRbyg0HbjoZysQ9jXeTk3FCurxQWVjtHfy7GDUIu2w=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8BbYcNK1N24t_A4Iandcl8iVaBPkFrKu3TAq7mON517ZeRi9dDiBuOYD3fewavBP_xI3eAN19CfZXQl1QDVpuPkrf3kSGZcv_xLH3neYiwhmsnQFvI=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8AJUoVgu2b0b2W4pHQ9ooasdZKgjMhAb1-64GjgRotxzj3TsUuBg4CFHGOSFf0fykQYjOnoaWfR17qcxKnFkvmYCV04d3NG4ZLeinRvH90_9pmaOKc=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8D78zenWZXJCTAE6qTCXsu1qjhXBl3QUyVeVp2W9o3WSchSGo4DGC5Oizx1tc8p11l0uCPVvKUomq-CqELmZNk7jPieW3Lj_GNJfxXjUCMWGbajAkk=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8DZpHiyqKhdsVUq7_nfPTEWNEPs97nW5jLQ1t0ZGqW2637OQiojMVVN6bf40m94UVxyWqcQ4IcyQwiPDlvDb8BV9_oThvTo4a7OsQWTj3bnJlphso4=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8Bsy9e2749Ueyxuc_7rXbJVcmwcQwrTJuywsLcti2AfIN6wyVY2P3s899ZcLJ-AYowqp4joWSxIgmVJUK3dHHALtW8gBYV3mV2-TmG3ytjgdIsz71A=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8CofzsrTBCvDx0UhS6X2mMkVX5XRQjYhMa-JpUZGyRJ6-AhoB0gBgI_hu8CkWxRcQZmJQ2fNJBzKcrNYZhsNc6fRg4-bIykf7gnap328tsxj1kPsBA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8AB14qDaiushk5lQ35KTWdRmdxHXV4_UizVe1Cleut5sleiL8fA7gX5tNgaFNegzjHTwp2jy0d9sZzYaLnFbwTZfcaJcHcMZz-X9u8A91oK_7EI_S8=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8ANZJqwa4Xz79ifRxiWWwfIbxNE4RQK7txFLrNIbLTCxbIYUJbETmHs0VRPgOYhPpd-Wn4z4ihguIag16pTezxUB0QMvlGZH25ZY1aAMbhiXa6NEys=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8AoQVtvNHHp0xtRM42doA8Op5aNXvx7ul-G2le3ziyf7-MmNsOZGq2fAQfE_RiY06P4CNKqY2zNgX_UDmtPODCEaVT6EJd3wFCvNuNdsyNVjgZE78Y=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8AQJGdmkvBELoITI5Bhm5ePutKz8go0CXFwtBLUVG280760xLvNrGuj5LrovPZ31uMS0djeaeMUWg4BItguhYHJyujh6v9DQgSGsJUvUbNa4La1rV4=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8CbdqldKYjofPCY7DyyuIJ8kSA7DIpuCJeAWxDYlViTaDZzeeZhPXd2zHXQiYd32Rs5hTB003XitLt5G6fpBeSweIqogNawUy3CcdId2rF-QpmAVo8=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8Ces0Mmht4MeDIBm6NkAajDqvBbxRsKsAItJlDny0YcXzY1lTS0VWEaQ4q7sGkNkNTOCQtAVb5jTFDXQ2mm7obeP0XRpKOEB08vT9nay3zt3tpg9vw=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8CFxpfjgVma3q0KeffG-qMHhOeVhOY6499zEi3EJ6SYa5mcHwKQL1F5dkEhOqKCoqsQGsVMyzSHP_WpRUuV5-7891wBd9SVzb5xJTaTGCMaTgmuAzg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8DWkiPmJ968jkaPgA9lQZX4-PPUlxbfxuOhbKaCF36g6MCCFZtgLCGfHrvdtr72ft9RZZlchAAuK0bhvWjjFtZPbIj31-26RsdFunpUpenFC6CNriQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8BxiMyFl6M8c5OcArC0jU4-peNgrbELydRgp4ltIz6FS2r9vfMr-8SEKfkmJ7qdsds9SQmUZ_nVE6LCcuGAnSaH5t_4cWsw_QnenfAi2Iu2Zq5FO8E=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8C7Pt12UA2dtb70uGJ3Sv2a0TMKQ_wGjIJysXqF6TQpTvaIMmbham8ZWAsbPKYGx7FPTqHXvXVnkT8jNNNheACsVSW2ej4tU_FV8-MCEBsfUkDQ3mY=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AMWts8A1RYnNMJwCZjCpP9zbwjGyhsLRgTyZvoX7W6EpB62p2--UlCrBt3iLhXHQ_t0ZPevIZrjoZP5fupYaRCLzQOKOzd8v_mE9J6Fq8I1y0NvfaMMYhWY=w1920-h1080"></div>-->
       </div>
       <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/ipqKV4vrwJdBEKM46"
         data-title="Wooden Boats..."
         data-description="">
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc--jMhz678hy-rv3FssdS_WIZUQlj7DKLyWcKJ_Qs1ktM7yy3G-pQ3zDZ6Nzzn2C4yb-UyhjgIxQ2VDsvY4hZlcUCj_V_1JPHXubZ0InMnbEZ5ZCAo=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc_a1XJLzKMd2RlRP06rwLpJk5xD3A7TZjmCJfBsKojpLqMni7XGknGxqYM83cxuksfzQdw8PSC22gTirIphykEh7jy2SjhvvmmPEwSFuCsZE7swwHg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc9AbynODpNVOvv2uHnGrRFA9cGsREJCKBAqWDa8ymRFmALriYGNukJHPb3EF3nPb9fnSnkYRoSpm8vv4S50cSd8bLI25Q7d6-0miiThOv4U8Qyf1Gs=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc-f9XF9O6sJn3XpvevQhK6UDJ7cCt42mWGJ_9AOlPPA9XatMk6GV3Vo72GJnhG9VdARSRUCm7nRJAFb_XFerSFfFImw8gyIf5c6RHBkrRcUEamspv0=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc-WhiTrW9yNC9Aqbdaisu_mxbmDeb1A9w4k_6cmq89-ls8aVonRjlxf6n9cL-AoEkhXI5C3gaYwt4VaJv-HHTuiUW4Tuob9m--RVFydMAhDJpW4YfQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc9qhy96ibZGTsgDXqU5p0mIR2Yl5A0IlRabpgJ9p_Bd62SAbPYHjlnCw2WfqI9uCAZ4M-XR1VEqTMFYydh-RBEua5PEphXTLv3jb2PLW6MN6JwYIYQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc_yzxL8867J0vNYJmMOT0IBY6uqCek0pa22nu9Z0YVHJd0wZRTzVW43UYnZCL35khT_BlXVtEbB9lzbYZmTqRpdCHcUjPFns1LbMXdXWlRWUyEtAfU=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc-LeyqYyCX2ZJpbkpWxp6dvRtl8J1w6pGPYqIvgUyoQkTthHacvutKQ0e71CClniLgLb8OatKFA8xwc9QZJPh4vuDxG9OFGg4fZ4OvhGoETiCcH2qE=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc_q5wxg6Tqs2t7qqjV4mxgS0axPQxUDTisfYEpVfjoQH-4q1CRidw7ZDv5QSYRCrinVP5-VU3NcdEQ8Hw0B_GFdHPAZN3HeMH-YupvT1pkyGIeGsi8=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc_A2sWkhzMQXpH7p7grM2fpvtOVL712oSy4ck5QWgbDO1N19VfAzkacDHMCmX9gSZrbmGFqJ2IXaPwWO1hsAQ8esmwkeFeboDf-UJPaXzM6ghXr49M=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc_m7K2CkA1qmG_YJ0amhaWt6QIwhELL47ONe8C-XQUIwZ_AbNSV0w3dRpURArr038YNFHU6dlx-FmXy2X4at8eZJWC1BL9GQgoTsIBLW0JKqxYQoPg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc9hjHGpmAcVw-IM1mp0F0UdHoS4yrRbIDBIWJsLGv9AbK13A8oP-jK-bYpkd33_Yp5Czixw9PLXrpT8GlTIOkNOj3WfiTVUBsIuPGN5fjwqw77kHCA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc__-Wuby-D39s9YsO2PjsrjTAd-9VSY3XWT1WlgWNZEOolfH1Zno74JBjv_R6743fuoXBzr4Vu_Zx6UBfaaXytNhNbo-61bfc8h_4VBITp0pPDLtZ0=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc_jIY7xulLJvM_2H_HozE1KWVBFB1fgG_QdKPOAOf9ep1s2P0fua8ihr8Nis_yBi0xMWc2aTzEeMd9SZ6ZwzdBnjkXBRxO03Kj-T9Tl0UEit-ZC7No=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc8G1oEd01ouKYaImMrVBp09jECMYF6KA9h9x1Q0AlimfuXF_vMm2U4kv2EjrRsY8UqW2_mhPfq-7jmbtsSg8eaZWaBhtte0FcUw4lDzDL6iyKsu8lQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc9P8iQLZOU3piKM9b4zGGVLkNw9ZZ-6-CahoMHP_IG9t7YigO5sxposru8__tnKb6nh10AXHabO52Jotlclx0jpls_o7-CybGspGpbSnix0t6LTRU4=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pw/AIL4fc_l8q0EzNkQozEsYw8l4ZKXX21ta59I_iNB4-p7Uu98isx_DtcjoOyDY1t2LTJfZyvAQZzbaxcdTVFYLKWSWZ4NSPEdsKYjy3wCPLZz-KA2-8_UzRw=w1920-h1080"></div>
       
         <!--<div data="https://lh3.googleusercontent.com/pZYfZENvZHQCvOFnjMGNKxP4LAfHBmlFYy_8AEhfuvzUpkiXMLNEK422It5hfSozEVZAWLjYGrfEtrCE6aE_kpyeCWCp2iI2wf_5jy0GrnhoFkkKa82QSY-YdF6IoIdsNd5r91ru7w=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/krbzpWEOH3VaQwWODZqkpV5WmDNMpKPan5K378fw06uqOUq-VJOP03T_YlNXye3-djb-IHDxpIbsi6CJ-hDmXzT5GPXaYACaqi2sY34rxtt8AsKM1jF5pU4Pg-kx1e9Sb7M7Vyq7uQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/mSrzM7nv39U86H0I58zdmP_YaINrXaXvftixPMe5RjwTFjyFXyaerQHb3Q-uFeUscHogrRKOqtouSrRwnbgEjkqqyz8tFbM9ckjMv93pLb2RtuuPK5SJeIpMcYA59jHvMsBKCQdg5w=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/o3-ZEz_U7BCUJCaz1fqMuCsavRoK4dPqzWKw0B5-k5YzhBUXEUGDXy_TWxvJg5dT2n6Z3w7OmOSpmkF0xHxKKj8jcIM5EWQaNLTSB3yiY515b7K1SFbWCwcc3FGDsRHqdODdy4AQgg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/U7zAedYDr40tReTgQQeGdY5tT2kMI9C0DlSn-726EEEfspubtPVGrYRC86wlps_UWdYOdD6rU9llSdMwXLbA_XD2JboOq34iftvJmX086CBfYiU22nGjSje9RkBTrDHqIX5-cFdm5w=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pHKoE2bwQxSdfOckabHkgxO9CugJy8Fd6SPZY013KJ3IhMLJJEENhECKz6odelu3qZ5465ZLRsVlCWtTEn7XGqJKYlXG9G4XYF6sEii5EoOAos-246FuwjG1a6ZFFBSHRhDNLVArfQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/fpvjcgynfr8PnL6YpOdS1vk8-btkl00f00BmF0ReVT-U9pfut5LwrRG48bC1APt7rSvsughlYQSOuBjela8PGK1MvsNJobwfDOiN6SAcSHf4l4e6s3_9a5NXfPoYP9yAN_cjE8q4sw=w1920-h1080"></div>-->
       </div>
       <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/sorQTnysF7Yqzmvs6"
         data-title="Fishing..."
         data-description="The inshore waters of the Swedish west coast are home to some of the finest shellfish in the world and at least twenty edible species are to be found in the coastal waters of northern bohuslän. We work primarily with the following; Oysters, pacific (Crassostrea gigas) and native (Ostrea edulis), Blue mussels (mytilus edulis) Norway lobster (Nephrops norvegicus), Brown crab (Cancer pagurus) and  the European lobster (Homarus gammarus).  We also work with some less common species such as cockles, whelks, winkles, razor shell, and shallow water shrimp. In addition we forage the beach and islands for edible plants, wild fruits and edible fungi.">
         <div data="https://lh3.googleusercontent.com/o4BtfROGvuUzrKmHXgWP5ms8WwjtFlRcLO7wkkDMOo598O2IWfA6-LjOloqL0uU2K4po5KpdsyTc5zAnNdVR1S0p1tjZpEqJmz0gbY4iemfwEVusvnDDxq2EdA2_WoOCyG5huzVK9w=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/J_WzUnwf_L6GwPioYTYCiySTrowSPCAOEE1jiILEj3pAqtgw_A8Evbge8tmnjNkcxk-gXt9qq1I-_ss8O9czmOvWVirLz37byQ_MaEEGY625RxO86Ib6vRY3e8dhGlIA5c6U4PteSQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/cWRb10PI7xZxYYuEYkuXbABxJbO0nn7jwec8Dki0CXnQ5qtO6a0JFybDWc2askxspZyZbeOmnsHHXNmGlHMsMSEgNrfGBD1ZwtYvpC8mhKhR9qH5MDE53YVjYrDdEmjg76CKZ2fUyQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/5hybSjhiALip0R4LyBuBm9H7U1-LUI2HG5oazvBTHkRomg3M76WWnjhSjtmZGCsXswV1k8EieDLF4q3uzW2mq5Nt67FMUE_O1s7EL08hnJtUXjXQUSFxGRm7l0v_VJGtFz0fUAuE9Q=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/CZ4J3Fh4GeBiKsWk-IjtRbV_s9lWFoUqc1MdgUATw-DMxBq5A5hh6gdFM7yg4xNebVeb3_7fbDqtILD1v6A2bwQ2Hi0k7K2P-62I3XtcDRR_bPzT8GTX-pZtQKtrVkUqzvTHt01aQQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/JPKYBss-lOBCvxDlgOwqmq4lfZ-8lEODfwXVPKzqHvtd4KVkk8sr3UCyMZHHV4w6dSGILlj2sPhipOjsnCdSxM6uTi5elWQiS-ZujP3KzLRXMcDeKUxxCuzgkL0tyz5AOqMlKqRy6Q=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/TDZyrAhkzqhxSlHRINLdRx4zjGD_FrQixf9P2R_O8kyEzWFtZapf0MvV3idkGA9Rzv7GOKKLBjrL4LNCCQTl12Q3FMOrlDh9yNou3zGTtOGr4f4AlxuHaukFGSLczWNTL1_TNGikbQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/nIyjnddT0pciN50PmmCqrv-1Z3hkjJ8aUtWwPPU8aq6fGOIGV3P-YkjnEnWNGz6-zh_vEGiWL72-h9CjHuU8UUwoZ8dACFQfDwSi2H_Cv1YQovkJRtYmeGmHP0g2rFA9eUUQEUuYVA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/aP3a6nmOxHQ9Bha_Wc7f6VUHHrGnKpvgiSz4YdbWDMJIw6PAxsO-ZHI4qbQRuWvQkG25alcYAaMx4URHtKq3aBiIaTGcGw7UtuvPUlNTndmFTbpCwttMKXTiTXN6rLyZAxpJLkr1Jg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/RZnPoGblpztoObikShQ3cDB5kCijW48sy4IvUj_JHgbWUd86WydeWQutDdBQLcxcYMmL5XtMdawt978t7pDSfgPz2oMNTxbRm0dAGX7n5eG9lpIBwar--ATRyViT0lXAXcQztP0VQg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/PZ98EWu3L-hcUY7GZTUX-34Pg97RL6eGKQ6GPKSUI0nmF6NUcji-KScI9XGQZX9RwB4cjcYpoYjWiaAm6vR9BmgKZrCbqp_E-h5kYDE8EkLIP22rMwtbfy6JMPpEEHD58xjP4c2SGA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/hdTszHORWjOc41hpWGxVf3kvCYqZWb-8qPXMRHBq-UwMrC-xmJ_H0bhm6RqyzywQOfiUR7NQWrLItKaxlQQXrc0ReFQcwe5BT9c6xzJrM9g2vP9C6INFpMdIDnTXRCPWIZPfp6UNTA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/zUb9SLIhg-MCf3nR4FfeUZGinvGYaIykjWSUWJM6pbXlXULQsbsNwriFn47Z1dTOlQgkqFiKw97FaiVImopYIC2nZPhRgiXvUhASeUmiYjrMONhnbZ7RpydzY95EjXJ3uaaZ_sdVkw=w1920-h1080"></div>
       </div>
       <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/xZ7byxcyyDAWwgnE6"
         data-title="Harvesting Oysters..."
         data-description="">
         <div data="https://lh3.googleusercontent.com/p1PS58iwyt97WjngFtRhV5Rcpl1UMt3U4wZjUucUxrHb5WlLcYtqA9mCVQwDpFcsBYDCLv3ZKMibo4nYNMr9PfK7OHAaEhfWfw2RXWOSuMcRAZXyTOQE9rfedhK8_XM1CWe9EAkxTg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/WpuocFL7XFrnveGFdhKCtVfZXSfJGK2br2Kcphxk_uegDAmZjXoQZ-lzJ1Fb5cbDnE_2YOpvXT_aeIeYIF3-_R58U4i_eBL3wsfQsHb5zdB6c9YtTvSCfa8xoi-hX3UQy9v1TRhbKg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pnPievMB2eG7xp_rkIxOjVH54NZnfksogNxCQ9NvLntVB4XJ8b8GTylGyMJYi2lJQIJt_6ACj2EBlbTSi3S0TlaVsFz_lzhQeRPkBPIwlw58jKhrKFsmMEreJVemh84vPBIPqrcG9Q=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/RAdp4-TOmMuM7BGQMj1IipHEJc_1EjWZ888Jug38pzvGsBrnrLo_aIVxa_ZFpk4W6MrHrpNoSg4gYC0C4moftBg9peis3mG0Vg5ytkWXeCnNK1HqiKp6uxQl_8iGA7Hb6xbxPdHfoQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/R_p7HruV7ey5K2MrrZKt-Y9Kg0RLkrGqaGieBirvzU4LVrfN5iTEvoSfKAGjOOIqXop8Uz4W-BEJo3iVmFE3ty8Oxj_CH9oDHb0KoLGYs9egEbi_fSLnC8rWrYp3ygUTLXL4b_B3lw=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/bi5tamJfQmywaJ4Op5iNsIft-Nzi6PONL5gDxsRPvNR8VRetrV5poRt_sHsSA3cKR6wL1jlozTTMLetnc2woNqSRMTIlf1OOxY2HYMl9THXKBlCqGSxMHSRypdAdInBZvFxo5_xUdg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/U7JdRc3rz-TFzdqrGVgWsgtQ3STW5lmrJq5-yGMS4XK30o3LTqcWW10mD7NTV5yi_6ELCp_FV0EDFzo-1noKdNyXeH4fXH9_ili6MQfAkKL83foml4qscLFrpyKF54dllDvjfIDnoA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/eCbrDAycJEKcy2OTUR2Ji8YEFQwutPHz_ZmL0ZWr8h9UR6eNjLebaOzMreVl4GTR6xgNR5CRfZ6ZJFxA3TNoaXa_q4luOyANd0f0N6sUUKeOgGvJi9efFACjoomuO8yCjTHt4IB-Nw=w1920-h1080"></div>
       </div>
       <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/RANL4MCgetCm5c1J9"
         data-title="Foraging the Beach..."
         data-description="">
         <div data="https://lh3.googleusercontent.com/kDKqb-pYgCRj9hCLL0F4S1sWr9JlgKhQxUuBwEXgJ62JWOKm1hVjn-y4sDKUgxs6zyeqZaRdoqbepYSuKWb_7oR1BUrUlFg6DSwvxOLP9RdXoPSQ8uUBzMPr9zimBu5h0F1B0qKw1g=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/P7fHE1vh62s0gAnyJq6hFEkC5KUCmrdB8_dBjOviz57xXMEOushH2S7UYmIblz1Lnxide6yLjvELw29UAuRx2Gc46SNRjcO2wtJWBJBwtvMV-zYFy3tl0l7hqDnoLm03IRGPvIIu7A=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/iyxsn4ckVcI6V5C-g_tiXJ6v9U2OdmP8-j91H-O-4gtP9Q32d8gS_1b25V_WfTHPy4jjOSttI760s7BBvJ06ydgO7SBvwRwzdmKIYi6hoId12l72DDJr0LtQExjPESrmWGycg-ywmA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/eR2FN5-ZYuzUUbPQAEDi8EK99B0DMPUCj6VclDEctWwo3QezxJWF3Rmrc4bISo4Hs-02nvKeZ80kLfiE8C9ChElOvxZeDf4B_EkAmZ3SUqgAhNO03wOT1tbGmOBw4LVj2M8gOgNlbw=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/DGX_zWYwk6czJa7OkgxSg6PJoQSySPAt-U3GkBNJG3Y6Ftl4bbNKDBQwZlAQUMCK6SSFt-l9a4wFbXvOK69i7sGJeyqhkvv2HXZPfl1uztzLAP2PGdNyYHasHp82Db7X-IUzwadcbA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/oxa3y3o8ljWnPBK8nPwlSthxeyfNOnYy0vERH499VRI1kQ0WPTU4oPQy-0lcsWfbevkboIj7jUG4lZB42m_dmcsCfCO-cAlAZBjB1ydt8W0hmQMfbGEo2TTirB6mgh4HWeu9SRJSTA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/KI7CId9ubx6T8Kz49NeyUTovXg1VQY9QWWWkHJSJcC61LmfMo1i7v1DaM38P2PMfJY3pm_Uhvt8EwTul1EnRGdiB_DUqqgCFrVk2rZr1Oia8vX1_WHtYTwy-J4GGwdklHmslTO79Og=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/dtodRh7M6emJyR4qpjrP8N9R5Ur1bVoKGP8DTVU19-JdQXR2h_o_iHjG9ebVwux1gIqsmgTuasGG_nALkgNO-82vvCl-oqBYho5AcaXBqXrZYZt5QUvqhdtU8IpALT3ChCJk44KyYQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/VpXZdGMLteuQuc_ULydKjfuunyB1OtE45jLuhAplrR8lco2jDWHHHw1T1yb6y6mZ4cH4LmeGGxTpmsochYPeH3hlU-BckrcutBv7sy9WZBdU7ikpMCjj0H2Pp3mo6_mDweYDB_k_Xg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/zNUYpKNzaSaLavRoRTzNVBUJIdCz2_n08kiOWWxZLcXZU7S_gshXVX1gXwL0I0tj17DNPnYmaPxfsGS1FHgJhaNrPAMjhrp9sCuROtjwt21eq5UmRPa39HVLhNYh4Xr1sCMBLi5axQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/BfHQkUei-AnrvjtEtSPGDM8mgA3i91x2-chmsMXxM89835i9ztMVhuewrDwNcvcCMDlBSQsR8pq-mulKk0v701MD704waTHl7RoYsWQ4ukIkw5N4PTMtKOshY_0uuTdOpfINLrjh5w=w1920-h1080"></div>
       </div>
       <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/Ut8sNVASARL3uJST7"
         data-title="Foraging the Woods..."
         data-description="">
         <div data="https://lh3.googleusercontent.com/QRAAD2MOI9CEFmKmN4zqURAszAOfAVc4_adZrlLKJjMtSxzbinL88TtqhKqO2qb8uuMiB7zpK3QfCZYlTAiqRamvvbjxJdFjnnAgZxuu1OBjnwjdjLxl-xHyLmspo8G1qG6UzbZVUg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/Z4nVXtAIDTt3QFRT4ZhgkJj3rgQ-ZNR7YKxmcvVC8sRJC6251MXMgN7y1GdQa_weKT1hm-9JqfotvA_CJtGZhNUfeeoufNbBWWHMrMc5P79bO3nsdAs0Q8AkDpV8VEGpkjPfz7_9WQ=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/8CR8rtumvwwAaSJEs5b8jue8zdbTSLZW1WMy8TP30A3fpfdke_HWOpuM_acpbSu1FC_RTeXE4w6044kycMnhwgff5NeCHS5q_WjT3FBG1SQr9hyiuefbZC883Ho7GgLuyVRp5I08YA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/HagoGyvQ47hEzleAFP_ydr6VSE_2FiLUVdT8931E_o6W6L2YDw_f1Hxe4QzPNcLJpAATxm3bdVYiWUqWHj1UMxx4pqxKL2467af3dKaEkwe1gdY0hm_DkMkuxZ5Uy9LQjbao3BX7kw=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/OYdxmNBnqJv-u83WMV4W4Nj7Sb-GCKjM0Qn1V3dxQEyPy9Vnl8zjCWteJ9kgYRbDqpVrAsdrgt_MtnPlzeICAPmbzG1fNzfwBkblBtxObCjH-v_4bZ1Bh8rQwCGsgHqz5ZZE1rv9YQ=w1920-h1080"></div>
       </div>
       <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/EAwqx9rFqucfG8GRA"
         data-title="Resö Gård..."
         data-description="">
         <div data="https://lh3.googleusercontent.com/ziXICKyVH1MG6ISu8wOeHAdoFWfFTGYERVrU5d_AJi1aS-B8NXK5uQZwyNQJuFMdx1Qf0AFnIlMi2-kzQQB3b_gHOQXWd06bRjNjfjy3yukGIllcUO2Sd0BdqiE5zIQpXSMWLaSB5g=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/yhWftTGDHa140raYOUNlSOv_hqXlhuB0eGDSPFX7R3xC-X8UfmAwnEwvGfG8cDta7GbrPlbwCq8t_qv5-grWKbw4tLWzhWGG73hIytxyPoA6ampOoGGtjX7Er6GVGFsOPrLIEibZdA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/R6YSgt_r0TnDPYiCFkBal3_AfhkWT5iqoUtz2QynR5ELZouQ34p4V56cNLQaSoA02c1jK4yuZXDWrP4qFcQ8FuHt_4V2YqB4n_lDIvem8907geiqPKxc30YBmOt6FKSgUfGYevUM5Q=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/1YJXDnmsYGmo3aZgl7t-yupXthoqeLrdrTxS3XYHk1P8MVQJ72i9WOGVAamBNObfNiknC18K4EUS41cea7uRKd6c4yGpLtgbQoh3whYPtlU4uaYxo8ESRbNib4Nkpqg1SjF_MH66BA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/ZErqXffFn0tGNtf-qKLGnEBVHTumMwmvVKwvLigbNM9kt6b2QuOb6OPV6cdM00FaTBhpTupob9yiMJ6Wlk5r8dW1F6KKn6U53F5lkjF-RYr3jTLi2Ug5JYgxCcJRQRHAnbVCRXnNBg=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/ct2vj83s5jBzzFttXdIKkA3XuDa_aKi7RyFnUqdAtMJK0PQO7alj7qWNGuUIySEvV0CB6-FIfMD0DXg1pFiUjCbeVDnXPhyy9X1bczJamKA1xFX6QY9zdM6pND_Qc76tgSe1rPwwpA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/pdwSDaAMTKWNSfshxNXUHm15b3rbPNVK4q1yR590D_R6hrWM48XeNUb5mxGHQLfWFXo0jM1Xqy-GYOvILwpMu4JR7LgU08L6DBWsx8iFP9XRRV6I2VxSm-DLcuTSOvmfIQzP9KeHCA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/VhbgmtK3A1djoMEocpWRE5Ne8c4ATr87JBPxMPNwOx9c6cji2mX5FLcZkAmgpVxHoZDSPIE-oIMA-ScUzTp8MZclO8M-yWwS_SiIDpQLT2bH3MigF1OokxQmpJ5l1xhRomZGh--6aA=w1920-h1080"></div>
         <div data="https://lh3.googleusercontent.com/6QvY8E-95vFLrkguGgK6WKhO2J9haOmzndz68W2B4igd2NLjYLlZMcWYxkAepD6DRtU7Z5Z2yRUWxzqC4OzbN8x1BO5E_k6so3D-oUmSqC6z_8flud37N8O-7f4uwA6Smv-X9FwsVQ=w1920-h1080"></div>
       </div>
     </div>
    
    <script>
    function exitFullScreen() {
        let fullPage = document.querySelector('#fullpage');
        fullPage.style.display='none';
    }
    </script>
    <div id="fullpage" onclick="exitFullScreen()"></div>
    <div class="multi-gallery">
    <!-- filled in by script -->
    </div>