.banner-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.absolute {
    margin-top: 2vh;
    margin-left: 2vw;
    position: absolute;
    font-family: "Papyrus", Times, serif;
    font-size: 6vw;
    color: white;
    white-space: nowrap;    
}

.banner-image-2 {
    background-image: url("/assets/images/banner2.jpg");
    background-size: cover;
    background-position: left;
    height: 499px;
}

.banner-logo {
    padding-left: 28px;
    margin-top: 0px;
    padding-top: 20px;
    font-family: "Papyrus", Times, serif;
    font-size: 80px;
    color: white;
    white-space: nowrap; 
}

.banner-logo p {
    padding-top: 20px;
}

.container p {
    font-size: 18px;
    line-height: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto; 
}

.container h1 {
    font-family: "Trebuchet MS";
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.container li {
    font-size: 18px;
}

.container {
    font-family: "palatino";
    max-width: 800px;
    
    margin-left: max(min(20px, 100% - 360px), 0px);
    margin-right: max(min(20px, 100% - 360px), 0px);
    margin-top: 20px;
    margin-bottom: 20px;

    color: rgb(92, 24, 24);
}

.container a:link, .container a:visited {
    background-color: #F2E8D1;
    color: green;
    padding: 14px 25px;
    text-align:left;
    display: inline-block;
  }