.banner-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.absolute {
    margin-top: 2vh;
    margin-left: 2vw;
    position: absolute;
    font-family: "Papyrus", Times, serif;
    font-size: 6vw;
    color: white;
    white-space: nowrap;    
}

.banner-image-1 {
    background-image: url("/assets/images/banner.jpg");
    background-size: cover;
    background-position: right;
    height: 499px;
}

.banner-image-2 {
    background-image: url("/assets/images/banner2.jpg");
    background-size: cover;
    background-position: left;
    height: 499px;
}

.banner-logo {
    padding-left: 28px;
    margin-top: 0px;
    padding-top: 20px;
    font-family: "Papyrus", Times, serif;
    font-size: 80px;
    color: white;
    white-space: nowrap; 
}

.banner-logo p {
    padding-top: 20px;
}

.container p {
    font-size: 18px;
    line-height: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto; 
}

.container h1 {
    font-family: "Trebuchet MS";
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.container li {
    font-size: 18px;
}

.container {
    font-family: "palatino";
    max-width: 800px;
    
    margin-left: max(min(20px, 100% - 360px), 0px);
    margin-right: max(min(20px, 100% - 360px), 0px);
    margin-top: 20px;
    margin-bottom: 20px;

    color: rgb(92, 24, 24);
}

.container a:link, .container a:visited {
    background-color: #F2E8D1;
    color: green;
    padding: 14px 25px;
    text-align:left;
    display: inline-block;
  }

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: max(min(20px, 100% - 360px), 0px);
    padding-right: max(min(20px, 100% - 360px), 0px);
    margin: 0px;
    margin-bottom: 50px;
    margin-top: 0px;
    background-color: #F2E8D1;
}
.gallery img {
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
}
.gallery-item {
    flex-grow: 1;
    padding: 2px;
    height: 200px;
}
.gallery-title {
    font-family: "palatino";
    text-align: top;
    color: rgb(92, 24, 24);
    font-size: 30px;
    height: 35px;
    background-color: #F2E8D1;
    padding: 0px;
    padding-top: 16px;
    padding-left: 16px;
    margin: 0px;
    margin-top: 25px;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}