<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/where-we-are/">Where We Are</a></li>
        <li><a href="/what-we-do/">What We Do</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
