<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    {% include nav.html %}
    <div class="multi-gallery">
      <div class="gallery-title">
        <p>Wooden Boats</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DuHdJLgB3L_6StbDwMlyhRJM1HGhiaoIb9ZjebmC4uiQQ-HP-opNne2S8VJ_G1pg3lXJAnyAqzXfkifdTZUmrbBcmmAgoFj7ZQ68f5HnPD8JeyhiY=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8BifjoB2HMOSZ-YI0llXGD89sW2VV1a_zO04gv58q-FiMcmKwZ6OP1TJTfUdgOejMV12RxdHTxA55zkvXcmOcgCiqRulch0IjeyO7H8VBCdjGN9TTY=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8AlQvvmM88itUJohPIT8EetDzEyapEzOj1EK-TBpnABz1cXy6vVKsU9NDhf4L7YMYdAEgJm5UnNtpdSaUt12nj65OcveEZztBNECQlZWLsnN8PTARE=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8A867TanEC8znD6PqzFyES7YdPuljfYTNeNDNi2OvjlPIa-EB_SfZYwDnSGs4HEzJlrQ-B0ELShWGvAl7TFZntPV2D8iiVXPFkl71xKo5O6URBSep8=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Bk5kV6r6I7npRalLfjSFJFwGY9wW7yUbtwmt6CC4QolXxm6ZKae8PFEbqIVAAg7seYDHKje0qGW9qxQyUEGVBXzOOM2vNo5C37RnrYlXnjOn47I_Q=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Anq726le1gk66HZjRSkMXlFcfC-qSFMZL-5cG5Do5lQtpsfFiEbIXuWl0nKuUYgCoK8SmZ4F9ukiQzb-4Azff0naZ4BGGF1MSNFSackonskjM8fPg=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DNt5_LP_wvTIa-wQSRdUnDzWSuviHcHBJZXphkfUtkaSBT8Pos6Tl2ZbRouc0KBt1btD_CcSpdVnIqaikmrFWpwcwqwiZ4MC-6gwtr_7PWcYrlXns=w1920-h1080"/></div>
    </div>
    <div class="gallery-title">
        <p>Today's Catch</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/Sk5nwsJ1ikRQ39Ebwv0BxLo6FrphNVxzKIoPxl-18AK1Eczcy_Rgs0kQV0bbn7UDdsqD_k3Mmh-VLxdO-wY95ULb6pQe9Q609cmiFOv5pHRxv2dGib_qJK8fhEjKJkIKiQuX3eAwjg=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/_Fp4bd7fh_R1y4AQXMT7w7uWP7v63pEFW2PypLSzZMUOArOoeUPZRsQBRWL91esy1vBiS-HigRyKNSt9wpUPytOVSDINSunIz9n7XUfguM2sYWzTIDid5b6KjpuiezCGifjzQpDwsA=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/Cjd2sVWEiqML2vNTvOyR3zfMQhm-fLR9jN-SMkPRDHHKPiGBe9giwJnh1lIINKBZ-OyiEXqPGGY0Eb8YmIWigTIELnIrbgsFtgKWb8DXMMFiNVlPIDjL4ukDP_R_E9FprDbqpHGk8Q=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/V4xK2hIIP_uUX2THg2Tj9jeCPrDd2dEamEhoBvqdKGRKRBW6TEzBd4LHeUcCBxkAphdxTCMPmwR9vAYOW33kgt7xlNL7OxEnwFTOniz0eVdhxsL09IN84_aDd3znnjdBQAwXjfNY7Q=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/uYDnxG2YOw5RoLVFQc1UCr0VVh3rU-jkrAtCQcbeieav4VY3CRg62_bG0az24aEbY0XZNnPbvoqvUgKJ5E3sdrhMrqBym7W8_AB4F6tlH3H0WRTgJ6WY38lvXuw5w-0KAuh-Fd_M9w=w1920-h1080"/></div>    
    </div>

    <div class="gallery-title">
        <p>Fishing</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8AFPmvhqYOxcTWREv0evxutSLJx5qOuHHzVzr8zUcvbfUM6Y6OBFv_1t52LapvUaOqdbQwiIfeZJb0okqdSjmWC3b07-3yuWQzmraWKH-cQqQz52Nw=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8BMD7y1u-wRuxghphHy--5OtNrxQEvS9rLzoRilcvfiwxHtOdOprK7UCItsOUQxo9lIY0iBlkXRZIMP1uwOleui90EMWPd8WbSqG-gvOfFZG5Bz46o=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DJ9toUal9ILM4Ze88tfi2YAT-_6iE95bk7jwsZHgDBSIU3hE00k4q41oCu4SZnYVAW4wZS1TfPBP08yeJGXPK-uxi5AeaLqC00Wjlj1WIQ0TdYFUo=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Bob3bBoGpUw86sq0oXs5OOhuuoaYMjq5576QIcA_L5Y-VAej30Mmt1iGeZon6RIr9xJOQww9z1o_e3jg7gNJMiHxUF7FO_TF6G8AFRnxtzdnnBgJw=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Ajr7NeOJv_xuHhH3C_wyhptR4Zp62X1_5dzSKcqe191gtK1eEJVJBGHM8GbRnI87NhEtgqUO7F52fwhDWmy1WOkcB72eOShnkUkUpE59Iz44aaol0=w1920-h1080"/></div>    
    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Dl26Kf0OZayS4rbj7fk6BpqPqDEUOdSWqdvq3GqGfxk09gHbMyots65zKSWylQgI7sF11igQwmOSUCnTc_Tc1ZITfvVqJpPQM0SbwcKxeVFF-wuL8=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8BwVGzL1WQXK1dFx4FVfdN4M0SRXztkf4JEJIamg4dX16SUuk-f51TLUrAg7QheTJdQ9mr7ENlBkL9qNEJli0e8k5YauHoY6BRUrzQIRxj_fpNUGpU=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8BB0DmoJXs2Ue94gKaSUuHCAdI7Gr1hBvupMXnlIoYhAAn-8p70Qlt24-j-l4lslHd-4-RseEAYnHlPbNHNR_lMNymDsa5IH6YcUuv80c4fYs0VUDw=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8CXvqOI-Cfqcb4KM1MrxB-bXzbjKiSmpTQpCYClRnxsz7FIIu_8ijvcYNy2un5V3E1OL9ButUAjKIhGp15JFC_5-dwoWH9eYJJowgHzZ3JaU86E6YM=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DGIqLM4EpMTtRZdplrgA5fTkLFflplHi6yHM7nwEfyG_RiOjucQBm5Zo2ig3M5zw5JbL5fPeCxLoVFgdqLhiewDOgq8bx9BeKwEd2TeSdMfS5w9R0=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8C9JirhacwLXAXAPF1H1Zl4bD23kOxlxT7cODxZx7OYbodXWsmqGGjDa518aHhRl7_rIDzL4xQEfSwjdFiCjAQXu5RiJH_D4brqrVoul7ovRw55nZc=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DJrLVUDFP80yFJnu3AnpVVtd0T_adjFpNDiltx03I_jgmpU8EI15cc8A1ByKcKMnnHfQGHEUOVZI9qllRrPbCKi0xffTzv9XR-4Tq5OH8hNCXN1Vs=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8BdfQmjomyNYhb6fPuIOFbZ9rtt2JYDSOIWQW08IyC_CfRPKwvEOILk7BIpnjAqDtoHpr_O6oLIQZ4dCD8UoY3kxON1c7gUnyEP-AKFpfeTNDmNGsU=w1920-h1080"/></div>    
    </div>

    <div class="gallery-title">
        <p>At the Boathouse</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8ANaO89Icsgi5vj1WyuX7PQgwmo8L_PWUsyfh-qeA0zsPaBI0sZhGZOP5cz2uUOMO-NxT2e3TMhOQpNmaIVyi88y850uAoLRmvlAo0nq0E5THHFFbo=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8AX4cy_S1E_fFYapUGhgo-5E7h6eE2r-bFlJlQwKd1lS96msjUwrRymjuXysP736EtSNKTuJ7sHH83LX72nstHx10duom9PZ6Aj1Q5enn3qXb02Dvs=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8CfE9-iYMNzFQuR96322Zs09mMcJNsn6SZV5FmDs3r6rHgYskGegp8ToTFJBDrSx5_yPJAQvesGNQbzxWOt0XGUgZXPPF9dt621Pp8nUWxgRjDnCDg=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8AGYhKqpqckJcXv9us4TNAzsiwHUKrV56clt-74NQvTHndgt-5bcgbo3abA1zumuNvbZZHcQ2PGCtOop-XpWr_fUTYa1whW9uksXZbE04GPbUyZjpw=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DrUsG_GwnhmPR0Wi8dv9SqW5h05w1qY6Pd6lvPntERYmghC7H5yJL3ZVwSGIWlo-VylBwJ0jRbyg0HbjoZysQ9jXeTk3FCurxQWVjtHfy7GDUIu2w=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8AoQVtvNHHp0xtRM42doA8Op5aNXvx7ul-G2le3ziyf7-MmNsOZGq2fAQfE_RiY06P4CNKqY2zNgX_UDmtPODCEaVT6EJd3wFCvNuNdsyNVjgZE78Y=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8AQJGdmkvBELoITI5Bhm5ePutKz8go0CXFwtBLUVG280760xLvNrGuj5LrovPZ31uMS0djeaeMUWg4BItguhYHJyujh6v9DQgSGsJUvUbNa4La1rV4=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8CbdqldKYjofPCY7DyyuIJ8kSA7DIpuCJeAWxDYlViTaDZzeeZhPXd2zHXQiYd32Rs5hTB003XitLt5G6fpBeSweIqogNawUy3CcdId2rF-QpmAVo8=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Ces0Mmht4MeDIBm6NkAajDqvBbxRsKsAItJlDny0YcXzY1lTS0VWEaQ4q7sGkNkNTOCQtAVb5jTFDXQ2mm7obeP0XRpKOEB08vT9nay3zt3tpg9vw=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8CFxpfjgVma3q0KeffG-qMHhOeVhOY6499zEi3EJ6SYa5mcHwKQL1F5dkEhOqKCoqsQGsVMyzSHP_WpRUuV5-7891wBd9SVzb5xJTaTGCMaTgmuAzg=w1920-h1080"/></div>    
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DWkiPmJ968jkaPgA9lQZX4-PPUlxbfxuOhbKaCF36g6MCCFZtgLCGfHrvdtr72ft9RZZlchAAuK0bhvWjjFtZPbIj31-26RsdFunpUpenFC6CNriQ=w1920-h1080"/></div>    
    </div>

    <div class="gallery-title">
        <p>Resö Gård</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/ziXICKyVH1MG6ISu8wOeHAdoFWfFTGYERVrU5d_AJi1aS-B8NXK5uQZwyNQJuFMdx1Qf0AFnIlMi2-kzQQB3b_gHOQXWd06bRjNjfjy3yukGIllcUO2Sd0BdqiE5zIQpXSMWLaSB5g=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/yhWftTGDHa140raYOUNlSOv_hqXlhuB0eGDSPFX7R3xC-X8UfmAwnEwvGfG8cDta7GbrPlbwCq8t_qv5-grWKbw4tLWzhWGG73hIytxyPoA6ampOoGGtjX7Er6GVGFsOPrLIEibZdA=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/R6YSgt_r0TnDPYiCFkBal3_AfhkWT5iqoUtz2QynR5ELZouQ34p4V56cNLQaSoA02c1jK4yuZXDWrP4qFcQ8FuHt_4V2YqB4n_lDIvem8907geiqPKxc30YBmOt6FKSgUfGYevUM5Q=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/1YJXDnmsYGmo3aZgl7t-yupXthoqeLrdrTxS3XYHk1P8MVQJ72i9WOGVAamBNObfNiknC18K4EUS41cea7uRKd6c4yGpLtgbQoh3whYPtlU4uaYxo8ESRbNib4Nkpqg1SjF_MH66BA=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/ZErqXffFn0tGNtf-qKLGnEBVHTumMwmvVKwvLigbNM9kt6b2QuOb6OPV6cdM00FaTBhpTupob9yiMJ6Wlk5r8dW1F6KKn6U53F5lkjF-RYr3jTLi2Ug5JYgxCcJRQRHAnbVCRXnNBg=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/ct2vj83s5jBzzFttXdIKkA3XuDa_aKi7RyFnUqdAtMJK0PQO7alj7qWNGuUIySEvV0CB6-FIfMD0DXg1pFiUjCbeVDnXPhyy9X1bczJamKA1xFX6QY9zdM6pND_Qc76tgSe1rPwwpA=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pdwSDaAMTKWNSfshxNXUHm15b3rbPNVK4q1yR590D_R6hrWM48XeNUb5mxGHQLfWFXo0jM1Xqy-GYOvILwpMu4JR7LgU08L6DBWsx8iFP9XRRV6I2VxSm-DLcuTSOvmfIQzP9KeHCA=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/VhbgmtK3A1djoMEocpWRE5Ne8c4ATr87JBPxMPNwOx9c6cji2mX5FLcZkAmgpVxHoZDSPIE-oIMA-ScUzTp8MZclO8M-yWwS_SiIDpQLT2bH3MigF1OokxQmpJ5l1xhRomZGh--6aA=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/6QvY8E-95vFLrkguGgK6WKhO2J9haOmzndz68W2B4igd2NLjYLlZMcWYxkAepD6DRtU7Z5Z2yRUWxzqC4OzbN8x1BO5E_k6so3D-oUmSqC6z_8flud37N8O-7f4uwA6Smv-X9FwsVQ=w1920-h1080"/></div>
    </div>

    <div class="gallery-title">
        <p>Harvesting Oysters</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DsLGBXID4fshqc5SF3Aw7uAXiyszjvdftQshSpqyCdxzRrf-KBuUS1FA_ZoZNhTWakGb-gKZGdj3qPKcQexL-0JOp8vSfRlcsjSTRnxg-NEGTCqKY=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8CpWhi14SiuGJTVNtuNGvBxL27Hh1OnSxKP2jzOSL0WGpuAFxhfhSOHgsQ9gEau1g9jfjhqz7HOm6milnbG0Y26upfZDkPkhp_FzzcQOQFlcieOb3c=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8A1tJpre0AtmdEx4W_tc3d-mAsp3HQL3uVCZXcWHgcBRvkxISyVSr1wpPaNjeP4NGmMpD-_oZWurOc0t8FpEwx0WwikhsjFq_X0tTxFoDCeX577OaM=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Aids0G0ZGi5CnzAoog-c9yFfYT4NifvjIZ4FHNd2PEWr2aUgDNehOdjF4rVp9yKlRiE6YMFRNiCu5WI_4vCKJUkSrfXHnkx-VtHXJB642EhosJPsg=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8C11-vs31_IFINDo9X5qL43ot0RkWvF2iSqcpvTAflGzdnJ5wp1oK28yAQ8StQy59YexklLPrvOdyPFKqi6emcffBQpCNGwska9p38F7IkEZteA4ew=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8BzCq0_2OeLO_803htASIp1sG55LosH3GU7YaXxnzfc7imdaK_V_O0kZNLjJrLWSq7t9GNHufKM0UBwrrGmczmIZTlU-Js9vw-8rQwafM0sVhhsSDA=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8Bh9SmxwK3Vdeacc6h7l4QYlFreYmwuVrnh8DmujPn070s6hqogOtJ5olTzW1ezS_9w5bwLCJL6akzWlxe6IpZ5APJvjwNg2cyxwC1J3C_MerIme08=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8BDqDeUujNrojR_mHHHjyJ5snjDzFHzl3jvlqJ8UQTJJ-RpWn9He1Mafr5SGgXGMOPAEncQKMPkyeVFmtpfI4V3Lw38Hmz_KEsICwOD8177_6zC0cc=w1920-h1080"/></div>
    </div>

    <div class="gallery-title">
        <p>On the Grill</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8A-S_FpRJCxTamfTy6d-HlEDv5wn54TKrWzAzo6R9eVguXFHwZqA1OflfnBEofz1xMV8nGkGMEivOjnAlA76uD-KgAV--3mSAJB3tO45ZDAdf-GhLc=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8C6ek67X0sfzKYE5FyLzIUtr87j4-oAjlh-PF7Y01LPy8rxAlW-3rS6hj5BuDtgy4RpNilRPUv8rAbhaM8Ad5rsnxZ_IekZocXBCIoEiquj-3unUcc=w1920-h1080"/></div>
        <div class="gallery-item"><img src="https://lh3.googleusercontent.com/pw/AMWts8DN4v_LKef_cbN_5sncijU-E76T5H-_SHXtHhumoexze0IjhInCy2rtRrcVUPH94lHfkPpZRRcliM157j3oUoRAsYPrLX4e73ZFMongRV4vHbf4zkE=w1920-h1080"/></div>
    </div>
  </body>
</html>
