<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>fishing and foraging</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    {% include nav.html %}
    <div class="banner-image-2">
    </div>
    <div class="container">
      <h1 id="shellfish-courses">Shellfish Courses</h1>
      <p>Learn to harvest, handle, prepare and enjoy what nature has to offer</p>
      <ul>
        <li>Go trap-fishing for Norway lobster, Brown crab and European Lobster</li>
        <li>Learn how to harvest and prepare oysters and mussels</li>
        <li>Gather cockles, winkles and shallow-water shrimp</li>
        <li>Forage the beach and islands for edible and medicinal plants, berries and mushrooms</li>
      </ul>
      <p>The inshore waters of the Swedish west coast are home to many of the finest shellfish in the world. At least twenty edible species are to be found in the coastal waters of northern bohuslän.</p>
      <p>We work primarily with the following;</p>
      <ul>
        <li>Oysters, pacific (Crassostrea gigas) and native (Ostrea edulis)</li>
        <li>Blue mussels (mytilus edulis)</li>
        <li>Norway lobster (Nephrops norvegicus)</li>
        <li>Brown crab (Cancer pagurus) and the European lobster (Homarus gammarus).</li>
      </ul>
      <p>We also work with some less common species such as</p>
      <ul>
        <li>cockles (Cerastoderma edule)</li>
        <li>whelks (Buccinum undatum)</li>
        <li>periwinkles (Littorina littorea)</li>
        <li>razor shells (Ensis ensis)</li>
        <li>shallow water shrimp (Palaemon elegans, Crangon crangon)</li>
      </ul>
      <p>In addition we forage the beach and islands for edible plants, wild fruits and edible mushrooms.</p>
      <p>Our courses are intended to show how satisfying it is to harvest, handle, prepare and, not least of all, consume and enjoy what nature, and the sea In particular, have to offer.</p>
      <p>The courses, evenings, one day or weekends, are primarily designed for groups of up to one dozen participants, but can be adapted to fit in with particular interests and requirements.The programme varies depending on the time of year and other factors</p>
    </div>
  </body>
</html>
