<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>fishing and foraging</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    {% include nav.html %}
    <div>
      <p class="absolute">
        the shellfish society
      </p>
      <div class="banner-image">
        <img src="/assets/images/banner2.jpg"/>
      </div>
      
    </div>
    
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
